.idea
.~lock.Apuntes TFG.odt#
.~lock.hoja_planificación.ods#
Primeros codigos de ejemplo/data/Commodities
Primeros codigos de ejemplo/data/Crypto
Primeros codigos de ejemplo/data/Forex
Primeros codigos de ejemplo/data/Indices
Primeros codigos de ejemplo/data/Stock*
Primeros codigos de ejemplo/data/Bonds*
Primeros codigos de ejemplo/data/error.txt
Primeros codigos de ejemplo/data/__pycache__
Primeros codigos de ejemplo/backend/__pycache__
*__pycache__/
data/Commodities
data/Forex
