{% extends "base_generic_login.html" %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'TradingAPP/style.css' %}">

<!DOCTYPE html>
<html>

<title>TradingAPP</title>

<H1 align="center"><img src="/static/TradingAPP/imagenes/logo.png" width="15%"/></br>TradingAPP</H1>

<H2 align="center">Backtesting Automático</H2>

Algoritmo de trading elegido: <b> {{ sesion.algoritmo_elegido }} </b>

<br><br><br>

<body class="center">

{% if sesion.datos_mercado%}

<form action="operar_backtesting/" method="POST"> {% csrf_token %}
        <p><b>Los datos que se usarán serán aquellos encontrados en el apartado de Gestión de Datos del menú principal.</b> <br> <br>
        </p>

        <!-- MERCADO -->
        <p><b>El mercado a operar es: {{ sesion.datos_mercado }}</b> <br> <br>
        </p>

        <!-- TIMEFRAME -->
        <p><b>El marco de tiempo de los datos es: {{ sesion.marco_tiempo }}</b> <br> <br>
        </p>

        <!-- DATOS -->
        <p><b>Tenemos datos desde: {{ sesion.datos_inicio }}</b> <br> <br>
        </p>


        <!-- SELECCIONAR FECHA INICIO -->

        <p><b>Fecha de inicio del backtesting:</b> <br> <br>
            <input type="datetime-local" name="fecha_inicio" required/> <br> <br>
        </p>

        <!-- SELECCIONAR FECHA FIN O NUMERO HORAS-->

        <p><b>Fecha de finalización del backtesting:</b> <br> <br>
            <input type="datetime-local" name="fecha_fin" required/> <br> <br>
        </p>

    {% if sesion.algoritmo_elegido.nombre == 'Medias moviles' %}
    <p>PARAMETROS</p>
    <p>Tamaño ventana pequeña:     <input type="number" name="ventana_pequena" value="5" min="1" /></p>
    <p>Tamaño ventana grande:      <input type="number" name="ventana_grande" value="15" min="1" /></p>
    {% endif %}

    <br>

    <input class="boton" type="submit" value="Operar"/>
</form>

{% else %}

<br>
        <p><b>Nada que mostrar, no hay datos guardados para este usuario. Visita el apartado de Gestión de Datos para descargarlos de MetaTrader5.</b> <br> <br>
        </p>
{% endif %}

</body>


<br><br><br><br>

<a class="boton" href="{% url 'Menu Principal'%}">Volver al menú</a>
<br><br><br><br><br><br>

</html>

{% endblock %}