{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'TradingAPP/style.css' %}">

<!DOCTYPE html>
<html>

<style type="text/css">

</style>

<title>TradingAPP</title>

<H1 align="center">TradingAPP</H1>

<br>

<body class="center">

Selecciona una de las estrategias de Trading mostradas a continuación.<br>
Una vez elegida una estrategia, se mostrará su descripción.<br>
Haz click en "Elegir" para seleccionar la estrategia de trading algorítmico.

<br><br>

{% if algoritmos %}

{% for algoritmo in algoritmos %}
<a href="{{ algoritmo.id }}">{{ algoritmo.nombre }}</a><br>
{% endfor %}

{% else %}
<p>No hay algoritmos disponibles.</p>
{% endif %}


<br><br><br><br><br>

<a class="boton" href="{% url 'Menu Principal'%}">Volver al menú</a>

<br><br><br><br><br><br>
Actualmente elegida: {% if sesion_actual.algoritmo_elegido %} <p>{{ sesion_actual.algoritmo_elegido }}</p> {% else %} <p>Ninguna</p> {% endif %}

</body>


</html>
