{% extends "base_generic_login.html" %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'TradingAPP/style.css' %}">

<!DOCTYPE html>
<html>

<title>TradingAPP</title>

<H1 align="center"><img src="/static/TradingAPP/imagenes/logo.png" width="15%"/></br>TradingAPP</H1>

<br>

<body class="center">

¿Quieres operar manualmente o usando tu algoritmo de trading?

<br><br><br>

<a class="boton_inhabilitado">Trading Manual</a>

<a class="boton" href="{% url 'Trading Automatico'%}">Trading Automático</a>


</body>

<br><br><br><br><br><br><br><br><br>

<a class="boton" href="{% url 'Menu Principal'%}">Volver al menú</a>

<br><br><br><br><br><br>
{% if sesion.algoritmo_elegido %} <p>Algoritmo de trading elegido: {{ sesion.algoritmo_elegido }}</p>{% endif %}



</html>

{% endblock %}