{% extends "base_generic_login.html" %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'TradingAPP/style.css' %}">

<!DOCTYPE html>
<html>

<title>TradingAPP</title>

<H1 align="center">TradingAPP</H1>

<H2 align="center">Trading Automático</H2>

<body class="center">

Algoritmo de trading elegido: <b> {{ sesion.algoritmo_elegido }} </b>

{% if not error %}

<br><br><br>

FIN de operaciones de Trading, resultados:

<br><br><br>

ACCIONES REALIZADAS:
<br><br>
{% for accion in acciones %}
<p>{{ accion }}</p>
{% endfor %}
<br><br><br>

BALANCE OBTENIDO:
<br><br>
{% if balance > 0.0 %}
<p style="color:#049404">{{ balance }}</p>
{% else %}
<p style="color:#a50707">{{ balance }}</p>
{% endif %}

{% else %}

<p> {{error}} </p>

{% endif %}

<br><br><br><br>
<a class="boton" href="{% url 'Trading Automatico'%}">Volver a Trading con estrategia</a>
<br><br><br><br>
<a class="boton" href="{% url 'Menu Principal'%}">Volver al menú</a>

</body>

</html>

{% endblock %}