{% extends "base_generic_login.html" %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'TradingAPP/style.css' %}">

<!DOCTYPE html>
<html>

<title>TradingAPP</title>

<H1 align="center"><img src="/static/TradingAPP/imagenes/logo.png" width="15%"/></br>TradingAPP</H1>

<H2 align="center">Backtesting Automático</H2>

<body class="center">

Algoritmo de trading elegido: <b> {{ sesion.algoritmo_elegido }} </b>

{% if not error %}

<br><br><br>

FIN de backtesting, resultados:

<br><br><br>

ACCIONES REALIZADAS:
<br><br>
{% for accion in acciones %}
<p>{{ accion }}</p>
{% endfor %}
<br><br>

BALANCE OBTENIDO:
<br><br>
{% if balance > 0.0 %}
<p style="color:#049404">{{ balance }}</p>
{% else %}
<p style="color:#a50707">{{ balance }}</p>
{% endif %}
<br><br>

<table align="center">
    <tr>
        <td>
            PLOT DE CADA ACCION:
            <br><br>
            {% for plot in plots %}
            <p>{{ plot | safe }}</p>
            {% endfor %}
            <br><br><br>
        </td>
        <td>
            DECISIONES DE CADA ACCION:
            <br><br>
            {% for decision in decisiones %}
            <p>{{ decision }}</p>
            <br><br><br><br><br><br><br><br><br>
            {% endfor %}
            <br><br><br>
        </td>
    </tr>
</table>
<br><br>


{% else %}

<p> {{error}} </p>

{% endif %}

<br><br><br><br>
<a class="boton" href="{% url 'Backtesting Automatico'%}">Volver a backtesting con estrategia</a>
<br><br><br><br>
<a class="boton" href="{% url 'Menu Principal'%}">Volver al menú</a>

</body>

</html>

{% endblock %}