{% extends "base_generic_login.html" %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'TradingAPP/style.css' %}">

<!DOCTYPE html>
<html>

<title>TradingAPP</title>

<H1 align="center">TradingAPP</H1>

<H2 align="center">Trading Automático</H2>

Algoritmo de trading elegido: <b> {{ sesion.algoritmo_elegido }} </b>

<br><br><br>

<body class="center">


<form action="operar_auto/" method="POST"> {% csrf_token %}
    <p>Selecciona el marco de tiempo:
        <select name="marco_tiempo">
            <option value="1Min">1 Minuto</option>
            <option value="3Min">3 Minutos</option>
            <option value="5Min">5 Minutos</option>
            <option value="15Min">15 Minutos</option>
            <option value="30Min">30 Minutos</option>
            <option value="45Min">45 Minutos</option>
            <option value="1H">1 Hora</option>
            <option value="2H">2 Horas</option>
            <option value="3H">3 Horas</option>
            <option value="4H">4 Horas</option>
            <option value="1D">1 Dia</option>
        </select>
    </p>
    <p>Horas durante las que se operará:     <input type="number" name="horas" min="1"/></p>
    <p>Mercado a operar:
        <label>
            <select name="mercado">
                <option value="XBRUSD">XBRUSD - Petroleo Brent vs US Dollar</option>
                <option value="XNGUSD">XNGUSD - Gas Natural vs US Dollar</option>
                <option value="XAGEUR">XAGEUR - Plata vs Euro</option>
                <option value="XAUUSD">XAUUSD - Oro vs US Dollar</option>
                <option value="EURUSD">EURUSD - Euro vs US Dollar</option>
            </select>
        </label>
    </p>

    <br>

    {% if sesion.algoritmo_elegido.nombre == 'Medias moviles' %}
    <p>PARAMETROS</p>
    <p>Tamaño ventana pequeña:     <input type="number" name="ventana_pequena" value="5" min="1" /></p>
    <p>Tamaño ventana grande:      <input type="number" name="ventana_grande" value="15" min="1" /></p>
    {% endif %}

    <br>

    <input class="boton" type="submit" value="Operar"/>
</form>


</body>

<br><br><br><br>

<a class="boton" href="{% url 'Menu Trading'%}">Volver a elección de método de Trading</a>

<br><br><br><br>

<a class="boton" href="{% url 'Menu Principal'%}">Volver al menú</a>


</html>

{% endblock %}