.boton {
    border: 1px solid #000000; /*anchura, estilo y color borde*/
    padding: 10px; /*espacio alrededor texto*/
    background-color: #e9e9e9; /*color botón*/
    color: #000000; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
    border-radius: 15px; /*bordes redondos*/
    font-size: 14px;
    text-align: center;
}
.boton_inhabilitado {
    border: 1px solid #737373; /*anchura, estilo y color borde*/
    padding: 10px; /*espacio alrededor texto*/
    background-color: #fafafa; /*color botón*/
    color: #737373; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
    border-radius: 15px; /*bordes redondos*/
    font-size: 14px;
    text-align: center;
}
body.center {
    text-align: center;
}
table.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}